<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.js"   integrity="sha256-5i/mQ300M779N2OVDrl16lbohwXNUdzL/R2aVUXyXWA="   crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/static/main.css">

    <!--FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900i|Playfair+Display|Raleway" rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="10800"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.9"/>

    <title>Good News</title>
</head>

<body>

<div class="container">
    <div id="title" class="row text-center">
        <h1 class="col-md-12">Good News!</h1>
        <div class="col-md-12">
            <div id="title-description" class="col-md-10 col-md-offset-1">
                <p>
                    Semantically analysed headlines, read only the most positive news headlines, ignorance is bliss!
                    <br/>
                    Or you can read the sad ones...
                </p>
            </div>
        </div>
    </div>

    <div id="news" class="row">

        <div class="col-md-5 col-md-offset-1">
            <div id="positive-headlines" class="headline-block col-md-12">
                <h2 class="row text-center">Positive</h2>

                {% for h in pos_headlines %}
                <div class="headline" onclick="location.href='{{h[1]}}';">
                    <!-- head line -->
                    <h4 class="col-md-10 headline-title text-right">{{h[0]}}</h4>
                    <!-- score -->
                    <h4 class="col-md-2 text-right">{{h[3]}}</h4>
                    <!-- published by -->
                    <p class="col-md-10 col-md-offset-right-2 sans text-right">Published by <span class="origin"><a href="">{{h[2]}}</a></span> {{h[4]}}</p>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-5">
            <div id="negative-headlines" class="headline-block col-md-12">
                <h2 class="row text-center">Negative</h2>

                {% for h in neg_headlines %}
                <div class="headline" onclick="location.href='{{h[1]}}';">
                    <h4 class="col-md-2 text-left">{{h[3]}}</h4>
                    <h4 class="col-md-10 headline-title">{{h[0]}}</h4>
                    <p class="col-md-10 col-md-offset-2 sans">Published by <span class="origin"><a href="">{{h[2]}}</a></span> {{h[4]}}</p>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <footer class="text-center row">
        <div class="col-md-12">
            <div id="footer-text" class="col-md-10 col-md-offset-1">
                Created by <a href="http://www.danielwelsh.uk">Daniel Welsh</a>, checkout the
                <a href="https://github.com/danjwelsh/good-news">repository</a>
                <br/>
                Powered by <a href="http://newsapi.org">News API</a>
            </div>
        </div>

    </footer>

</div>

<!--<script src="https://code.jquery.com/jquery-3.1.1.slim.js"   integrity="sha256-5i/mQ300M779N2OVDrl16lbohwXNUdzL/R2aVUXyXWA="   crossorigin="anonymous"></script>-->

<script src="/static/main.js"></script>

</body>

</html>